accelerate==0.31.0
bitsandbytes==0.43.1
docstring_parser==0.16
markdown-it-py==3.0.0
mdurl==0.1.2
mkl-service==2.4.0
peft==0.11.1
psutil==5.9.8
Pygments==2.18.0
rich==13.7.1
shtab==1.7.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
triton==2.1.0
trl==0.9.4
tyro==0.8.4
